<p id="notice"><%= notice %></p>

<p>
  <strong>Qua nome:</strong>
  <%= @quarto.Qua_Nome %>
</p>

<p>
  <strong>Qua tipo:</strong>
  <%= @quarto.Qua_Tipo %>
</p>

<p>
  <strong>Qua nometipo:</strong>
  <%= @quarto.Qua_Nometipo %>
</p>

<p>
  <strong>Qua vlpreco:</strong>
  <%= @quarto.Qua_Vlpreco %>
</p>

<%= link_to 'Edit', edit_quarto_path(@quarto) %> |
<%= link_to 'Back', quartos_path %>
