<%= form_for(@contrato) do |f| %>
  <% if @contrato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contrato.errors.count, "error") %> prohibited this contrato from being saved:</h2>

      <ul>
      <% @contrato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Con_Id %><br>
    <%= f.number_field :Con_Id %>
  </div>
  <div class="field">
    <%= f.label :Con_Dtvenda %><br>
    <%= f.date_select :Con_Dtvenda %>
  </div>
  <div class="field">
    <%= f.label :Con_Vendatotal %><br>
    <%= f.text_field :Con_Vendatotal %>
  </div>
  <div class="field">
    <%= f.label :Con_Desconto %><br>
    <%= f.text_field :Con_Desconto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
