<p id="notice"><%= notice %></p>

<h1>Listing Contratos</h1>

<table>
  <thead>
    <tr>
      <th>Con id</th>
      <th>Con dtvenda</th>
      <th>Con vendatotal</th>
      <th>Con desconto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contratos.each do |contrato| %>
      <tr>
        <td><%= contrato.Con_Id %></td>
        <td><%= contrato.Con_Dtvenda %></td>
        <td><%= contrato.Con_Vendatotal %></td>
        <td><%= contrato.Con_Desconto %></td>
        <td><%= link_to 'Show', contrato %></td>
        <td><%= link_to 'Edit', edit_contrato_path(contrato) %></td>
        <td><%= link_to 'Destroy', contrato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contrato', new_contrato_path %>
