<%= form_for(@atendente) do |f| %>
  <% if @atendente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@atendente.errors.count, "error") %> prohibited this atendente from being saved:</h2>

      <ul>
      <% @atendente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Ate_Nome %><br>
    <%= f.text_field :Ate_Nome %>
  </div>
  <div class="field">
    <%= f.label :Ate_Dtadmissao %><br>
    <%= f.date_select :Ate_Dtadmissao %>
  </div>
  <div class="field">
    <%= f.label :Ate_Nrrg %><br>
    <%= f.text_field :Ate_Nrrg %>
  </div>
  <div class="field">
    <%= f.label :Ate_Nrcpf %><br>
    <%= f.text_field :Ate_Nrcpf %>
  </div>
  <div class="field">
    <%= f.label :Ate_Dtnascimento %><br>
    <%= f.date_select :Ate_Dtnascimento %>
  </div>
  <div class="field">
    <%= f.label :Ate_Vlsalario %><br>
    <%= f.text_field :Ate_Vlsalario %>
  </div>
  <div class="field">
    <%= f.label :Ate_Dtpagamento %><br>
    <%= f.date_select :Ate_Dtpagamento %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
