<p id="notice"><%= notice %></p>

<p>
  <strong>Ate nome:</strong>
  <%= @atendente.Ate_Nome %>
</p>

<p>
  <strong>Ate dtadmissao:</strong>
  <%= @atendente.Ate_Dtadmissao %>
</p>

<p>
  <strong>Ate nrrg:</strong>
  <%= @atendente.Ate_Nrrg %>
</p>

<p>
  <strong>Ate nrcpf:</strong>
  <%= @atendente.Ate_Nrcpf %>
</p>

<p>
  <strong>Ate dtnascimento:</strong>
  <%= @atendente.Ate_Dtnascimento %>
</p>

<p>
  <strong>Ate vlsalario:</strong>
  <%= @atendente.Ate_Vlsalario %>
</p>

<p>
  <strong>Ate dtpagamento:</strong>
  <%= @atendente.Ate_Dtpagamento %>
</p>

<%= link_to 'Edit', edit_atendente_path(@atendente) %> |
<%= link_to 'Back', atendentes_path %>
